# Import

In [2]:
# import required libraries for dataframe and visualization

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt

# import required libraries for clustering
import sklearn
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score
from scipy.cluster.hierarchy import linkage
from scipy.cluster.hierarchy import dendrogram
from scipy.cluster.hierarchy import cut_tree

# Datasets

## Reading and Understanding

In [3]:
df = pd.read_csv('kemiskinan.csv', sep=';') # If the delimiter is a semicolon

In [4]:
df.head()

,No,ID Keluarga P3KE,Dimuktakhirkan Tahun,Provinsi,Kabupaten/Kota,Kecamatan,Desa/Kelurahan,Kode Kemdagri,Desil Kesejahteraan,Persentil,...,Sumber Air Minum,Memiliki fasilitas Buang Air Besar,Resiko Stunting,Penerima BPNT,Penerima BPUM,Penerima BST,Penerima PKH,Penerima SEMBAKO,Penerima Prakerja,Penerima KUR
0,1,100469014,2021,JAWA TENGAH,KUDUS,KALIWUNGU,BAKALANKRAPYAK,3319012001,1,5,...,Sumur Bor,Milik sendiri,Bukan Target Sasaran,Ya,Tidak,Tidak,Ya,Tidak,Ya,Tidak
1,2,107530405,2021,JAWA TENGAH,KUDUS,KALIWUNGU,BAKALANKRAPYAK,3319012001,1,3,...,Sumur Terlindung,Milik sendiri,Bukan Target Sasaran,Ya,Tidak,Tidak,Tidak,Tidak,Tidak,Tidak
2,3,111876773,2021,JAWA TENGAH,KUDUS,KALIWUNGU,BAKALANKRAPYAK,3319012001,1,8,...,Sumur Terlindung,Milik sendiri,Bukan Target Sasaran,Tidak,Ya,Tidak,Tidak,Tidak,Tidak,Ya
3,4,130713310,2021,JAWA TENGAH,KUDUS,KALIWUNGU,BAKALANKRAPYAK,3319012001,1,2,...,Sumur Terlindung,Milik sendiri,Tidak Beresiko Stunting,Tidak,Ya,Tidak,Tidak,Tidak,Tidak,Tidak
4,5,189321171,2022,JAWA TENGAH,KUDUS,KALIWUNGU,BAKALANKRAPYAK,3319012001,1,7,...,Sumur Bor,Milik sendiri,Bukan Target Sasaran,Ya,Tidak,Ya,Ya,Ya,Tidak,Tidak

In [5]:
# shape of df

df.shape

(95066, 42)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95066 entries, 0 to 95065
Data columns (total 42 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   No                                               95066 non-null  int64
 1   ID Keluarga P3KE                                 95066 non-null  int64
 2   Dimuktakhirkan Tahun                             95066 non-null  int64
 3   Provinsi                                         95066 non-null  object
 4   Kabupaten/Kota                                   95066 non-null  object
 5   Kecamatan                                        95066 non-null  object
 6   Desa/Kelurahan                                   95066 non-null  object
 7   Kode Kemdagri                                    95066 non-null  int64
 8   Desil Kesejahteraan                              95066 non-null  int64
 9   Persentil                                        95066 non-null  int64
 10  Alamat                                           95066 non-null  object
 11  Prioritas Verval                                 95066 non-null  object
 12  Nama Kepala Keluarga                             95066 non-null  object
 13  NIK Kepala Keluarga                              94661 non-null  object
 14  NIK Kepala Keluarga Padan Kemdagri               95066 non-null  object
 15  Jenis Kelamin Kepala Keluarga                    95066 non-null  object
 16  Tanggal Lahir Kepala Keluarga                    95066 non-null  object
 17  Pekerjaan Kepala Keluarga                        95066 non-null  object
 18  Status Pekerjaan Kepala Keluarga                 95066 non-null  object
 19  Pendidikan Kepala Keluarga                       95066 non-null  object
 20  Status Kawin Kepala Keluarga                     95066 non-null  object
 21  Kepemilikan Rumah                                95066 non-null  object
 22  Memiliki Simpanan Uang/Perhiasan/Ternak/Lainnya  95066 non-null  object
 23  Jenis Atap                                       95066 non-null  object
 24  Kualitas Atap                                    95066 non-null  object
 25  Jenis Dinding                                    95066 non-null  object
 26  Kualitas Dinding                                 95066 non-null  object
 27  Jenis Lantai                                     95066 non-null  object
 28  Kualitas Lantai                                  95066 non-null  object
 29  Sumber Penerangan                                95066 non-null  object
 30  Daya Listrik Terpasang                           95066 non-null  object
 31  Bahan Bakar Memasak                              95066 non-null  object
 32  Sumber Air Minum                                 95066 non-null  object
 33  Memiliki fasilitas Buang Air Besar               95066 non-null  object
 34  Resiko Stunting                                  95066 non-null  object
 35  Penerima BPNT                                    95066 non-null  object
 36  Penerima BPUM                                    95066 non-null  object
 37  Penerima BST                                     95066 non-null  object
 38  Penerima PKH                                     95066 non-null  object
 39  Penerima SEMBAKO                                 95066 non-null  object
 40  Penerima Prakerja                                95066 non-null  object
 41  Penerima KUR                                     95066 non-null  object
dtypes: int64(6), object(36)
memory usage: 30.5+ MB

In [7]:
# df description

df.describe()

,No,ID Keluarga P3KE,Dimuktakhirkan Tahun,Kode Kemdagri,Desil Kesejahteraan,Persentil
count,95066.000000,9.506600e+04,95066.000000,9.506600e+04,95066.000000,95066.000000
mean,47533.500000,1.665911e+08,2021.645783,3.319055e+09,2.620916,21.395041
std,27443.334683,3.177602e+07,0.478278,2.778325e+04,1.055652,10.825575
min,1.000000,1.000025e+08,2021.000000,3.319012e+09,1.000000,1.000000
25%,23767.250000,1.337413e+08,2021.000000,3.319032e+09,2.000000,13.000000
50%,47533.500000,1.893604e+08,2022.000000,3.319062e+09,3.000000,22.000000
75%,71299.750000,1.894273e+08,2022.000000,3.319082e+09,3.000000,30.000000
max,95066.000000,1.894914e+08,2022.000000,3.319092e+09,4.000000,40.000000

In [8]:
print(f"Is null:")
df.isna().sum().to_frame().T.style.set_properties(**{"background-color": "#FEFAE0","color":"#BC6C25","border": "1.5px  solid black"})

Is null:

## Data Cleansing

In [9]:
# Calculating the Missing Values % contribution in DF

df_null = round(100*(df.isnull().sum())/len(df), 2)
df_null

No                                                 0.00
ID Keluarga P3KE                                   0.00
Dimuktakhirkan Tahun                               0.00
Provinsi                                           0.00
Kabupaten/Kota                                     0.00
Kecamatan                                          0.00
Desa/Kelurahan                                     0.00
Kode Kemdagri                                      0.00
Desil Kesejahteraan                                0.00
Persentil                                          0.00
Alamat                                             0.00
Prioritas Verval                                   0.00
Nama Kepala Keluarga                               0.00
NIK Kepala Keluarga                                0.43
NIK Kepala Keluarga Padan Kemdagri                 0.00
Jenis Kelamin Kepala Keluarga                      0.00
Tanggal Lahir Kepala Keluarga                      0.00
Pekerjaan Kepala Keluarga                          0.00
Status Pekerjaan Kepala Keluarga                   0.00
Pendidikan Kepala Keluarga                         0.00
Status Kawin Kepala Keluarga                       0.00
Kepemilikan Rumah                                  0.00
Memiliki Simpanan Uang/Perhiasan/Ternak/Lainnya    0.00
Jenis Atap                                         0.00
Kualitas Atap                                      0.00
Jenis Dinding                                      0.00
Kualitas Dinding                                   0.00
Jenis Lantai                                       0.00
Kualitas Lantai                                    0.00
Sumber Penerangan                                  0.00
Daya Listrik Terpasang                             0.00
Bahan Bakar Memasak                                0.00
Sumber Air Minum                                   0.00
Memiliki fasilitas Buang Air Besar                 0.00
Resiko Stunting                                    0.00
Penerima BPNT                                      0.00
Penerima BPUM                                      0.00
Penerima BST                                       0.00
Penerima PKH                                       0.00
Penerima SEMBAKO                                   0.00
Penerima Prakerja                                  0.00
Penerima KUR                                       0.00
dtype: float64

In [10]:
# Droping rows having missing values

df_new = df.dropna()
df_new.shape

(94661, 42)

In [11]:
# Daftar kolom yang ingin dibuang
columns_to_drop = ['No', 'ID Keluarga P3KE', 'Desa/Kelurahan', 'Dimuktakhirkan Tahun', 'Provinsi', 'Kabupaten/Kota', 'Kode Kemdagri', 'Alamat', 'Nama Kepala Keluarga', 'NIK Kepala Keluarga', 'Tanggal Lahir Kepala Keluarga']

# Menghapus kolom yang tidak diperlukan
df_cleaned = df_new.drop(columns=columns_to_drop)

print(df_cleaned)

       Kecamatan  Desil Kesejahteraan  Persentil  \
0      KALIWUNGU                    1          5
1      KALIWUNGU                    1          3
2      KALIWUNGU                    1          8
3      KALIWUNGU                    1          2
4      KALIWUNGU                    1          7
...          ...                  ...        ...
95061       DAWE                    4         36
95062       DAWE                    4         36
95063       DAWE                    4         33
95064       DAWE                    4         33
95065       DAWE                    4         39

                     Prioritas Verval NIK Kepala Keluarga Padan Kemdagri  \
0                              Normal                        Tidak Padan
1                              Normal                        Tidak Padan
2                              Normal                              Padan
3                              Normal                        Tidak Padan
4                              Normal                              Padan
...                               ...                                ...
95061                          Normal                        Tidak Padan
95062                          Normal                        Tidak Padan
95063                          Normal                        Tidak Padan
95064  Keluarga Duplikat (NIK & Nama)                        Tidak Padan
95065                          Normal                        Tidak Padan

      Jenis Kelamin Kepala Keluarga Pekerjaan Kepala Keluarga  \
0                         Laki-laki       Tidak/Belum Bekerja
1                         Perempuan                  Pedagang
2                         Laki-laki                Wiraswasta
3                         Laki-laki                Wiraswasta
4                         Perempuan                 Pensiunan
...                             ...                       ...
95061                     Laki-laki                Wiraswasta
95062                     Laki-laki            Pegawai Swasta
95063                     Laki-laki                  Pedagang
95064                     Laki-laki                Wiraswasta
95065                     Laki-laki                Wiraswasta

      Status Pekerjaan Kepala Keluarga Pendidikan Kepala Keluarga  \
0                               Kosong         Tamat SD/Sederajat
1                               Kosong         Tamat SD/Sederajat
2                               Kosong       Tamat SLTA/Sederajat
3                               Kosong       Tamat SLTP/Sederajat
4                               Kosong         Tamat SD/Sederajat
...                                ...                        ...
95061                           Kosong       Tamat SLTA/Sederajat
95062                           Kosong       Tamat SLTA/Sederajat
95063                           Kosong         Tamat SD/Sederajat
95064                           Kosong       Tamat SLTP/Sederajat
95065                           Kosong       Tamat SLTP/Sederajat

      Status Kawin Kepala Keluarga  ...  Sumber Air Minum  \
0                            Kawin  ...         Sumur Bor
1                       Cerai Mati  ...  Sumur Terlindung
2                            Kawin  ...  Sumur Terlindung
3                            Kawin  ...  Sumur Terlindung
4                      Cerai Hidup  ...         Sumur Bor
...                            ...  ...               ...
95061                        Kawin  ...           Lainnya
95062                        Kawin  ...           Lainnya
95063                        Kawin  ...           Lainnya
95064                        Kawin  ...           Lainnya
95065                        Kawin  ...           Lainnya

      Memiliki fasilitas Buang Air Besar          Resiko Stunting  \
0                          Milik sendiri     Bukan Target Sasaran
1                          Milik sendiri     Bukan Target Sasaran
2                          Milik sendiri     Bukan Target Sasaran
3                          Milik sendiri  Tidak Beresiko Stunting
4                          Milik sendiri     Bukan Target Sasaran
...                                  ...                      ...
95061                      Milik sendiri        Beresiko Stunting
95062                      Milik sendiri        Beresiko Stunting
95063                      Milik sendiri        Beresiko Stunting
95064                      Milik sendiri        Beresiko Stunting
95065                      Milik sendiri        Beresiko Stunting

      Penerima BPNT Penerima BPUM Penerima BST Penerima PKH Penerima SEMBAKO  \
0                Ya         Tidak        Tidak           Ya            Tidak
1                Ya         Tidak        Tidak        Tidak            Tidak
2             Tidak            Ya        Tidak        Tidak            Tidak
3             Tidak            Ya        Tidak        Tidak            Tidak
4                Ya         Tidak           Ya           Ya               Ya
...             ...           ...          ...          ...              ...
95061         Tidak         Tidak        Tidak        Tidak            Tidak
95062         Tidak         Tidak        Tidak        Tidak            Tidak
95063         Tidak         Tidak        Tidak        Tidak            Tidak
95064         Tidak         Tidak        Tidak        Tidak            Tidak
95065         Tidak         Tidak        Tidak        Tidak            Tidak

      Penerima Prakerja Penerima KUR
0                    Ya        Tidak
1                 Tidak        Tidak
2                 Tidak           Ya
3                 Tidak        Tidak
4                 Tidak        Tidak
...                 ...          ...
95061             Tidak        Tidak
95062             Tidak        Tidak
95063             Tidak        Tidak
95064             Tidak        Tidak
95065             Tidak        Tidak

[94661 rows x 31 columns]

In [12]:
df_cleaned.head()

,Kecamatan,Desil Kesejahteraan,Persentil,Prioritas Verval,NIK Kepala Keluarga Padan Kemdagri,Jenis Kelamin Kepala Keluarga,Pekerjaan Kepala Keluarga,Status Pekerjaan Kepala Keluarga,Pendidikan Kepala Keluarga,Status Kawin Kepala Keluarga,...,Sumber Air Minum,Memiliki fasilitas Buang Air Besar,Resiko Stunting,Penerima BPNT,Penerima BPUM,Penerima BST,Penerima PKH,Penerima SEMBAKO,Penerima Prakerja,Penerima KUR
0,KALIWUNGU,1,5,Normal,Tidak Padan,Laki-laki,Tidak/Belum Bekerja,Kosong,Tamat SD/Sederajat,Kawin,...,Sumur Bor,Milik sendiri,Bukan Target Sasaran,Ya,Tidak,Tidak,Ya,Tidak,Ya,Tidak
1,KALIWUNGU,1,3,Normal,Tidak Padan,Perempuan,Pedagang,Kosong,Tamat SD/Sederajat,Cerai Mati,...,Sumur Terlindung,Milik sendiri,Bukan Target Sasaran,Ya,Tidak,Tidak,Tidak,Tidak,Tidak,Tidak
2,KALIWUNGU,1,8,Normal,Padan,Laki-laki,Wiraswasta,Kosong,Tamat SLTA/Sederajat,Kawin,...,Sumur Terlindung,Milik sendiri,Bukan Target Sasaran,Tidak,Ya,Tidak,Tidak,Tidak,Tidak,Ya
3,KALIWUNGU,1,2,Normal,Tidak Padan,Laki-laki,Wiraswasta,Kosong,Tamat SLTP/Sederajat,Kawin,...,Sumur Terlindung,Milik sendiri,Tidak Beresiko Stunting,Tidak,Ya,Tidak,Tidak,Tidak,Tidak,Tidak
4,KALIWUNGU,1,7,Normal,Padan,Perempuan,Pensiunan,Kosong,Tamat SD/Sederajat,Cerai Hidup,...,Sumur Bor,Milik sendiri,Bukan Target Sasaran,Ya,Tidak,Ya,Ya,Ya,Tidak,Tidak

In [13]:
from sklearn.preprocessing import LabelEncoder

# List of columns to encode
columns_to_encode = ['Kecamatan','Prioritas Verval', 'NIK Kepala Keluarga Padan Kemdagri', 'Jenis Kelamin Kepala Keluarga', 'Pekerjaan Kepala Keluarga', 'Status Pekerjaan Kepala Keluarga', 'Pendidikan Kepala Keluarga', 'Status Kawin Kepala Keluarga', 'Kepemilikan Rumah', 'Memiliki Simpanan Uang/Perhiasan/Ternak/Lainnya', 'Jenis Atap', 'Kualitas Atap', 'Jenis Dinding', 'Kualitas Dinding', 'Jenis Lantai', 'Kualitas Lantai', 'Sumber Penerangan', 'Daya Listrik Terpasang', 'Bahan Bakar Memasak', 'Sumber Air Minum', 'Memiliki fasilitas Buang Air Besar', 'Resiko Stunting', 'Penerima BPNT', 'Penerima BPUM', 'Penerima BST', 'Penerima PKH', 'Penerima SEMBAKO', 'Penerima Prakerja', 'Penerima KUR']

# Apply Label Encoding to each column
label_encoders = {}
for column in columns_to_encode:
    le = LabelEncoder()
    df_cleaned[column] = le.fit_transform(df_cleaned[column])

    # Simpan label encoder untuk setiap kolom
    label_encoders[column] = le

# Tampilkan label encoder untuk satu kolom, misalnya "Pendidikan Kepala Keluarga"
print(dict(zip(label_encoders['Pendidikan Kepala Keluarga'].classes_, label_encoders['Pendidikan Kepala Keluarga'].transform(label_encoders['Pendidikan Kepala Keluarga'].classes_))))

{'Masih PT/Akademi': 0, 'Masih SD/Sederajat': 1, 'Masih SLTA/Sederajat': 2, 'Masih SLTP/Sederajat': 3, 'Tamat PT/Akademi': 4, 'Tamat SD/Sederajat': 5, 'Tamat SLTA/Sederajat': 6, 'Tamat SLTP/Sederajat': 7, 'Tdk Tamat SD/Sederajat': 8, 'Tidak/Belum Sekolah': 9}

In [14]:
for column in columns_to_encode:
    print(f"Kolom: {column}")
    print(dict(zip(label_encoders[column].classes_, label_encoders[column].transform(label_encoders[column].classes_))))
    print("\n")

Kolom: Kecamatan
{'BAE': 0, 'DAWE': 1, 'GEBOG': 2, 'JATI': 3, 'JEKULO': 4, 'KALIWUNGU': 5, 'KOTA KUDUS': 6, 'MEJOBO': 7, 'UNDAAN': 8}


Kolom: Prioritas Verval
{'Keluarga Duplikat (NIK & Nama)': 0, 'Keluarga tidak ada usia 17+ tahun': 1, 'Normal': 2}


Kolom: NIK Kepala Keluarga Padan Kemdagri
{'Padan': 0, 'Tidak Padan': 1}


Kolom: Jenis Kelamin Kepala Keluarga
{'Laki-laki': 0, 'Perempuan': 1}


Kolom: Pekerjaan Kepala Keluarga
{'Nelayan': 0, 'PNS/TNI/Polri': 1, 'Pedagang': 2, 'Pegawai Swasta': 3, 'Pejabat Negara': 4, 'Pekerja Lepas': 5, 'Pensiunan': 6, 'Petani': 7, 'Tidak/Belum Bekerja': 8, 'Wiraswasta': 9}


Kolom: Status Pekerjaan Kepala Keluarga
{'Berusaha Sendiri': 0, 'Berusaha dibantu Buruh Tetap/Dibayar': 1, 'Berusaha dibantu Buruh Tidak Tetap/Buruh Tidak Dibayar': 2, 'Buruh/Karyawan/Pegawai': 3, 'Kosong': 4, 'Pekerja Bebas': 5, 'Pekerja Keluarga/Tidak Dibayar': 6}


Kolom: Pendidikan Kepala Keluarga
{'Masih PT/Akademi': 0, 'Masih SD/Sederajat': 1, 'Masih SLTA/Sederajat': 2, 'Masih SLTP/Sederajat': 3, 'Tamat PT/Akademi': 4, 'Tamat SD/Sederajat': 5, 'Tamat SLTA/Sederajat': 6, 'Tamat SLTP/Sederajat': 7, 'Tdk Tamat SD/Sederajat': 8, 'Tidak/Belum Sekolah': 9}


Kolom: Status Kawin Kepala Keluarga
{'Belum Kawin': 0, 'Cerai Hidup': 1, 'Cerai Mati': 2, 'Kawin': 3}


Kolom: Kepemilikan Rumah
{'Bebas Sewa/Menumpang': 0, 'Dinas': 1, 'Kontrak/Sewa': 2, 'Lainnya': 3, 'Milik Sendiri': 4}


Kolom: Memiliki Simpanan Uang/Perhiasan/Ternak/Lainnya
{'Kosong': 0, 'Tidak': 1, 'Ya': 2}


Kolom: Jenis Atap
{'Asbes/Seng': 0, 'Bambu': 1, 'Beton': 2, 'Genteng': 3, 'Jerami/Ijuk/Rumbia/ Daun-daunan': 4, 'Kayu/Sirap': 5, 'Lainnya': 6}


Kolom: Kualitas Atap
{'Bagus/Kualitas Tinggi': 0, 'Jelek/Kualitas Rendah': 1, 'Kosong': 2}


Kolom: Jenis Dinding
{'Bambu': 0, 'Kayu/Papan': 1, 'Lainnya': 2, 'Seng': 3, 'Tembok': 4}


Kolom: Kualitas Dinding
{'Bagus/Kualitas Tinggi': 0, 'Jelek/Kualitas Rendah': 1, 'Kosong': 2}


Kolom: Jenis Lantai
{'Bambu': 0, 'Kayu/Papan': 1, 'Keramik/Granit/Marmer/Ubin/Tegel/Teraso': 2, 'Lainnya': 3, 'Semen': 4, 'Tanah': 5}


Kolom: Kualitas Lantai
{'Bagus/Kualitas Tinggi': 0, 'Jelek/Kualitas Rendah': 1, 'Kosong': 2}


Kolom: Sumber Penerangan
{'Bukan listrik': 0, 'Listrik PLN meteran': 1, 'Listrik PLN non meteran': 2, 'Listrik non-PLN': 3}


Kolom: Daya Listrik Terpasang
{'=< 900 watt': 0, '> 900 watt': 1, 'Kosong': 2}


Kolom: Bahan Bakar Memasak
{'Arang/Kayu': 0, 'Lainnya': 1, 'Listrik/Gas': 2, 'Minyak Tanah': 3}


Kolom: Sumber Air Minum
{'Air Hujan': 0, 'Air Kemasan/Isi Ulang': 1, 'Air Permukaan (Sungai, Danau, dll)': 2, 'Lainnya': 3, 'Ledeng/PAM': 4, 'Sumur Bor': 5, 'Sumur Terlindung': 6, 'Sumur Tidak Terlindung': 7}


Kolom: Memiliki fasilitas Buang Air Besar
{'Kosong': 0, 'Lainnya': 1, 'Milik sendiri': 2, 'Umum/Bersama': 3}


Kolom: Resiko Stunting
{'Beresiko Stunting': 0, 'Bukan Target Sasaran': 1, 'Tidak Beresiko Stunting': 2}


Kolom: Penerima BPNT
{'Tidak': 0, 'Ya': 1}


Kolom: Penerima BPUM
{'Tidak': 0, 'Ya': 1}


Kolom: Penerima BST
{'Tidak': 0, 'Ya': 1}


Kolom: Penerima PKH
{'Tidak': 0, 'Ya': 1}


Kolom: Penerima SEMBAKO
{'Tidak': 0, 'Ya': 1}


Kolom: Penerima Prakerja
{'Tidak': 0, 'Ya': 1}


Kolom: Penerima KUR
{'Tidak': 0, 'Ya': 1}

In [15]:
df_cleaned.head()

,Kecamatan,Desil Kesejahteraan,Persentil,Prioritas Verval,NIK Kepala Keluarga Padan Kemdagri,Jenis Kelamin Kepala Keluarga,Pekerjaan Kepala Keluarga,Status Pekerjaan Kepala Keluarga,Pendidikan Kepala Keluarga,Status Kawin Kepala Keluarga,...,Sumber Air Minum,Memiliki fasilitas Buang Air Besar,Resiko Stunting,Penerima BPNT,Penerima BPUM,Penerima BST,Penerima PKH,Penerima SEMBAKO,Penerima Prakerja,Penerima KUR
0,5,1,5,2,1,0,8,4,5,3,...,5,2,1,1,0,0,1,0,1,0
1,5,1,3,2,1,1,2,4,5,2,...,6,2,1,1,0,0,0,0,0,0
2,5,1,8,2,0,0,9,4,6,3,...,6,2,1,0,1,0,0,0,0,1
3,5,1,2,2,1,0,9,4,7,3,...,6,2,2,0,1,0,0,0,0,0
4,5,1,7,2,0,1,6,4,5,1,...,5,2,1,1,0,1,1,1,0,0

In [16]:
# Mengubah seluruh kolom menjadi int64
df_cleaned = df_cleaned.astype('int64')

In [17]:
print(f"Shape: {df_cleaned.shape}")
print(f"\nDataset in a nutshell:")
df_cleaned.head().style.set_properties(**{"background-color": "#FEFAE0","color": "#BC6C25","border": "1.5px  solid black"})

Shape: (94661, 31)

Dataset in a nutshell:

In [18]:
kmeans = KMeans(n_clusters=4, random_state=42)